body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.video-container{
	margin: 20px;
	border: 1px dotted #ccc;
	-moz-box-shadow: inset 0px 0px 4px 0px #a1a1a1;
	-webkit-box-shadow: inset 0px 0px 4px 0px #a1a1a1;
	-o-box-shadow: inset 0px 0px 4px 0px #a1a1a1;
	box-shadow: inset 0px 0px 4px 0px #a1a1a1;
	padding:5px;
}

.block-center {
	margin-left: auto;
	margin-right: auto;
	display: block!important;
}

.video-controll {
	margin-right: 10px!important;
}


.video-heading > .navbar {
	margin-bottom: 0px!important;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 400px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}