<% layout('layout/page') %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
		  <div class="panel-heading video-heading">

<div class="navbar">

		  <p class="navbar-text">Видео с камеры</p>
		  <div class="navbar-right video-controll">
			  <a href="#" id="play" class="btn btn-default navbar-btn">
			  	<i class="fa fa-play" aria-hidden="true"></i>
			  </a>
			  <!-- <a href="#" id="pause" class="btn btn-default navbar-btn">
			  	<i class="fa fa-pause" aria-hidden="true"></i>
			  </a> -->
			  <a href="#" id="stop" class="btn btn-default navbar-btn">
			  	<i class="fa fa-stop" aria-hidden="true"></i>
			  </a>
			  <a href="#" id="video" class="btn btn-default navbar-btn">
			  	<i class="fa fa-video-camera" aria-hidden="true"></i>
			  </a>
			  <a href="#" id="photo" class="btn btn-default">
			  	<i class="fa fa-camera" aria-hidden="true"></i>
			  </a>
			  <a href="#" id="settings" data-toggle="modal" data-target="#settingsModal" class="btn btn-default">
			  	<i class="fa fa-cog" aria-hidden="true"></i>
			  </a>
			</div>
</div>

		  </div>
		  <div class="panel-body">

		  <div class="video-container">
		    <img id='stream-img' class='block-center' src="/images/no-avaliable.jpg">
		  </div>

		   <!--  <video width="360" height="420" controls poster="/stream"> 
			</video> -->
		  </div>
			  
		</div>
	</div>
	<div class='col-md-3' id='alerts-column'>
		
  
  <!-- <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div> -->

	</div>
</div>
<!-- Modal -->
  <div class="modal fade" id="settingsModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Настройки</h4>
        </div>
        <div class="modal-body">

			  <div class="form-group">
			    <label for="exampleInputEmail1">Длительность видео</label>
			    <input type="number" min="0" step="30" class="form-control" id="videoDuration" value=10>
			    <p class="help-block">Максимальное время длительности записываемого видео в секундах</p>
			  </div>
		
			  
		
        </div>
        <div class="modal-footer">
          <button type="button" id="saveSettings"  class="btn btn-default">Сохранить</button> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
<script type="text/javascript">


	var state = 'stop';
	// var intervalID;
	var t = 20; //интервал обновления
	var stream = "/stream/";

	var settingsObj = {
		duration: 10,
	}

	function makeAlert(type, message){
			var alert = $('<div class="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'+message+'</div>').addClass('alert-'+type);
			$('#alerts-column').append(alert);
	}

$(document).ready(function(){

	setInterval(function() {
    if (state == 'stop')
    {
    	$('#photo').attr('disabled', 'disabled');
    	$('#video').attr('disabled', 'disabled');
    	$('#settings').attr('disabled', 'disabled');
    }else{
    	$('#photo').removeAttr('disabled');
    	$('#video').removeAttr('disabled');
    	$('#settings').removeAttr('disabled');
    }
},500);

	$('#photo').attr('disabled', 'disabled');
    $('#video').attr('disabled', 'disabled');
    $('#settings').attr('disabled', 'disabled');
	$('.video-container').hide();
	

	$('#stop').on('click',function(){
		state = 'stop';
		$('.video-container').hide();
		$('#stream-img').remove();
		// $('#stream-img').attr('src','/images/no-avaliable.jpg');
		//if( intervalID != null ) window.clearInterval(intervalID);
	});

	$('#play').on('click', function(){
			$('.video-container').show();
			if (state=='play')  return;
			state = 'play';
			arg = new Date();
			// $('#stream-img').attr('src',stream+'?arg'+arg.getTime());
			$('#stream-img').remove();
			var img = $("<img id='stream-img' class='block-center'/>").attr('src',stream+'?arg'+arg.getTime());
			$('.video-container').append(img);
			// if( intervalID != null ) window.clearInterval(intervalID);
			// intervalID = window.setInterval(function(){
			// 	if( state == 'play' ){
			// 		var stream = "/stream/";
			// 		arg = new Date();
			// 	    $('#stream-img').attr('src',stream+'?arg'+arg.getTime());
			// 	}else{
			// 		window.clearInterval(intervalID);
			// 	}
			// },t*1000)
	});

	$('#photo').on('click',function(){
		$.ajax({
		  type: "POST",
		  url: '/photo',
		  success: function(data){
		  	console.log(data);
		  		if (data == 0){
		  			makeAlert('success','Фото успешно сохранено в на.');
		  		}else{
		  			makeAlert('error','Ошибка при сохранении фото.');
		  		}
		  }
		});
	});

	$('#video').on('click',function(){
		$.ajax({
		  type: "POST",
		  url: '/video',
		  data: {
		  	time: settingsObj.duration
		  },
		  success: function(data){
		  			console.log(data.exit_code);
		  		if (data == 0){
		  			makeAlert('success','Видео успешно сохранено.');
		  		}else{
		  			makeAlert('error','Ошибка при сохранении видео.');
		  		}

		  }
		});
	});
	
	$('#saveSettings').on('click', function(){
		var duration = $('#videoDuration');
		if( duration.val() && duration.val()!=settingsObj.duration && parseInt(duration.val(), 10)){
				if (parseInt(duration.val(), 10) > 3600) {
					$('#videoDuration').closest('.form-group').addClass('has-error');
					$('#videoDuration').siblings('.help-block').html('Может принимать значение в пределах от 1 до 3600 секунд');
					return;
				}
				if (parseInt(duration.val(), 10) <= 0) {
					$('#videoDuration').closest('.form-group').addClass('has-error');
					$('#videoDuration').siblings('.help-block').html('Может принимать значение в пределах от 1 до 3600 секунд');
					return;
				}else{
					settingsObj.duration = parseInt(duration.val(), 10);
					$('#settingsModal').modal('hide');
					$('#videoDuration').siblings('.form-group').removeClass('has-error');
				}
		}else if(duration.val()===""){
			$('#videoDuration').closest('.form-group').addClass('has-error');
			$('#videoDuration').siblings('.help-block').html('Обязательное значение');
			return;
		}else if(!parseInt(duration.val(), 10)){
			$('#videoDuration').closest('.form-group').addClass('has-error');
			console.log($('#videoDuration').closest('.help-block').html());
			$('#videoDuration').siblings('.help-block').html('Значение должно быть целым числом');
		}
		console.log(settingsObj.duration);
		//$('#settingsModal').hide();
	});
	

	$('#settingsModal').on('hidden.bs.modal', function () {
		var duration = $('#videoDuration');
		if( duration.val()!=settingsObj.duration ){
			duration.val(settingsObj.duration);
		}
	});

	

             
});

</script>