<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link rel='stylesheet' href='/css/style.css' />
    
    <!-- <link rel='stylesheet' href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css'/> -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <link rel='stylesheet' href='/vendor/bower_components/components-font-awesome/css/font-awesome.css'/>
    
  </head>
  <body>

<nav class="navbar" >

  <div class="well" id='header'>
  <nav class="navbar navbar-default" id="navmain" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= title %></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/camera">Камера</a>
        </li>
        <li>
          <a href="https://yadi.sk/d/9XsQPnIyrqmtv" target="_blank">Сохраненные фото и видео</a>
        </li>
        
      </ul>
    </div>
  </nav>
  <h3>Система дистанционной фото-видео съемки</h3>
  <p>на базе одноплатного компьютера</p>
  </div>

  </div>
    <%-body %>

    <script type="text/javascript">
      
      $(function() {
        var header = $('#header');
        var nav = $('#navmain');
        $(window).on('scroll',function(){
          var eTop = header.offset().top - $(window).scrollTop() - 30;
          console.log(eTop);
        if (eTop < 10){
          if (!nav.hasClass('navbar-fixed-top')) nav.addClass('navbar-fixed-top');
          $('header').hide();
          console.log('hide');

        }else{
          if (nav.hasClass('navbar-fixed-top')) nav.removeClass('navbar-fixed-top');
          $('header').show();
          console.log('show');
        }
        });
        
        });

    </script>
  </body>
</html>
